* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.crsr {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  transition: all linear 0.3s;
  mix-blend-mode: difference;
  z-index: 99;
}

#main {
  background-color: #015f3f;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  display: flex;
}

#nav {
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: #015f3f;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
}

#nav h3 {
  font-family: "Inclusive Sans", sans-serif;
  cursor: pointer;
}

#nav img {
  width: 120px;
  height: 100px;
}

#left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  background-color: #015f3f;
}

#right {
  height: 100%;
  width: 30%;
  background-color: #deb27e;
}

.content {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  flex-direction: column;
  overflow: hidden;
}

.upper {
  padding: 0 20px;
}

.upper h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 120px;
  cursor: default;
}

.upper h2 {
  font-family: "Dancing Script", cursive;
  position: relative;
  left: 7vw;
  top: 18%;
  font-size: 30px;
  cursor: default;
}

.upper p {
  font-family: "Inclusive Sans", sans-serif;
  padding-top: 20px;
  width: 50%;
  line-height: 2;
  cursor: default;
}

.lower {
  background-color: #fad5ab;
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto;
  border-radius: 20px;
}

.lower img {
  width: 180px;
  height: 180px;
}

#bigimg {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 380px;
  height: 500px;
  filter: brightness(110%);
}
